input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove arrows in Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* FORM INPUTS */
.ef_form-input:focus + .ef_form-label,
.ef_form-input:not(:placeholder-shown) + .ef_form-label,
.ef_form-input.is-active + .ef_form-label {
  background-color: white;
  top: calc(-2.5%);
  visibility: visible;
  left: 0.5rem;
  font-size: 0.75rem;
  z-index: 1;
}

.ef_form-input:placeholder-shown + .ef_form-label {
  opacity: 0;
}

.ef_form-input:focus::placeholder {
  visibility: hidden;
}

.ef_form-input:focus + .ef_form-label::after,
.ef_form-input.is-active + .ef_form-label::after,
.ef_form-input.is-error:not(:placeholder-shown) + .ef_form-label::after,
.ef_form-input.is-error:focus + .ef_form-label::after {
  pointer-events: none;
  opacity: 1;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 37.5%;
  z-index: -1;
  transition: background-color 0.15s ease;
}

.ef_form-input:focus + .ef_form-label,
.ef_form-input.is-active + .ef_form-label {
  color: #4a0091;
  opacity: 1;
}

.ef_form-input:focus + .ef_form-label::after,
.ef_form-input.is-active + .ef_form-label::after {
  background-color: #f6f3fb;
}

.ef_form-input.is-error:not(:placeholder-shown) + .ef_form-label,
.ef_form-input.is-error:focus + .ef_form-label {
  color: var(--_enrollment-flow--base-colors---text-color--text-color-error);
}

.ef_form-input.is-error:not(:placeholder-shown) + .ef_form-label::after,
.ef_form-input.is-error:focus + .ef_form-label::after {
  background-color: var(--_enrollment-flow--base-colors---primitives--muted-red);
}

.ef_form-input.is-error:not(:placeholder-shown):not(:focus):hover + .ef_form-label::after {
  background-color: white;
}

/* FORM INPUTS */

.ef_package_component:hover .w-form-formradioinput {
  border-color: inherit;
}

.ef_toggle_component {
  transition:
    outline 200ms ease,
    background-color 200ms ease;
}

.ef_toggle-dropdown_head:hover .ef_toggle_component {
  background-color: #cfd5da;
}

.ef_toggle-dropdown_head.is-open .ef_toggle_component {
  background-color: #00ba85;
}

.ef_toggle-dropdown_head.is-open:hover .ef_toggle_component {
  background-color: #00a070;
}

.ef_toggle-dropdown_head:focus-visible .ef_toggle_component {
  outline-color: #00ba85;
}

.ef_package_component:has(.w-form-formradioinput--inputType-custom.w--redirected-checked) {
  border-color: #00ba85;
}

.ef_checkbox_component.w-checkbox:before,
.ef_radio_component.w-radio:before {
  content: none;
}

.ef_checkbox_component:has(.w-checkbox-input.w--redirected-focus-visible),
.ef_radio_component:has(.w-radio-input.w--redirected-focus-visible) {
  border-color: var(--_enrollment-flow--base-colors---primitives--secondary-green);
  outline-color: var(--_enrollment-flow--base-colors---primitives--secondary-green);
  outline-offset: 0px;
  outline-width: 1px;
  outline-style: solid;
}
